@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    body {
        background-color: #222222;
        font-family: 'Roboto', sans-serif;
        color: #CCCCCC;
        font-size: 18px;
    }

    .text-center {
        text-align: center;
        margin-top: 100px;
    }

    .display-4 {
        font-size: 5rem;
        font-weight: bold;
        color: #CCCCCC;
        margin-bottom: 20px;
    }

    a {
        color: #CCCCCC;
        text-decoration: none;
    }

        a:hover {
            color: #FF7F50;
            text-decoration: underline;
        }

    .project {
        font-size: 2.5rem;
        font-style: italic;
        color: #888888;
        margin-top: 30px;
        text-align: center;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Visit <a href="https://github.com/chaudharytv/BDAT1001_IES_FinalProject">Github Repository</a>   for More Information.</p>
    <p class="project">BDAT 1001 - IES - FINAL PROJECT</p>
</div>