@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: #222222;
        font-family: 'Roboto', sans-serif;
        color: #CCCCCC;
        font-size: 18px;
    }

    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        color: #CCCCCC;
        margin-top: 100px;
        text-align: center;
    }

    p {
        font-size: 2rem;
        color: #CCCCCC;
        text-align: center;
    }
</style>
<h1>@ViewData["Title"]</h1>
<p>Nothing to See Here.</p>